<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<link rel="stylesheet" th:href="@{/member/css/shoebox.css}">
<meta charset="UTF-8">
<title>Sheobox</title>
<style>
</style>
</head>
<body>
	
	
	<th:block th:replace="~{inc/header.html :: header}"></th:block>
	<div id="main_box">
	<h1>메인화면</h1>
	</div>
	
	<th:block th:replace="~{inc/footer.html :: footer}"></th:block>
	<script>
		
	</script>
</body>
</html>




