<footer class="footer">
  <div class="footer-top">
    <div class="footer-cscenter">
      <span class="footer-cscenter-title"><strong>CS</strong>CENTER <span class="footer-cscenter-phone">070-123-4567</span></span>
      <ul class="footer-cscenter-info">
        <li>운영시간: 09:00 - 16:30 (주말/공휴일 휴무)</li>
        <li>점심시간: 11:50 - 13:00</li>
        <li>반품주소: 서울특별시 강남구 역삼동 한독빌딩 801호 쌍용교육센터 8층 101호 (우) 17180</li>
      </ul>
    </div>
    <div class="footer-payment">
      <p class="footer-payment-desc">
        고객님의 안전 거래를 위해 물품 대금 합법 결제 시<br>
        슈박스 쇼핑몰에서 가입한 <strong>보호 보험</strong>을 통해<br>
        물품 대금을 보호 받을 수 있습니다.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
      <a href="#">사이트 이용약관</a>
      <a href="#">개인정보처리방침</a>
      <a href="#">입점문의</a>
      <a href="#">단체구매</a>
      <a href="#">사업자정보확인</a>
      <a href="#">고객센터</a>
      <a href="#">기업소개</a>
    </div>
    <div class="footer-company">
      <div class="footer-logo">
        <img alt="logo" src="/member/images/LOGO.png" class="footer_logo">
      </div>
      <div class="footer-company-info">
        (주)슈박스코리아 | (05510) 서울특별시 강남구 테헤란로 135길 137, 185(역삼동, 한독빌딩) | 대표이사: 홍길동<br>
        통신판매업신고번호: 2022-서울강남-2722 | 고객센터: 070-123-4567 | FAX: 02-111-1234, 02-123-4578<br>
        사업자등록번호: 101-123-4567
      </div>
      <br><br>
    </div>
    </div>
    <!-- 오른쪽 하단 고정형 채팅/상담 버튼 등 -->
</footer>
