<header>
	<div class="header-container">
		<nav class="main-nav">
			<div class="menu">
				<div class="menu-item">
					<a href="/main/" style="color: #ba0a0a;">BEST</a>
				</div>
				<div class="menu-item dropdown">
					<a href="/main/listProduct?menu=brand">BRAND</a>
					<div class="dropdown-content">
						<a href="/main/listProduct?menu=brand">나이키</a>
						<a href="/main/listProduct?menu=brand">아디다스</a>
						<a href="/main/listProduct?menu=brand">뉴발란스</a>
						<a href="/main/listProduct?menu=brand">퓨마</a>
						<a href="/main/listProduct?menu=brand">캔버스</a>
						<a href="/main/listProduct?menu=brand">휠라</a>
						<a href="/main/listProduct?menu=brand">크록스</a>
						<a href="/main/listProduct?menu=brand">아식스</a>
						<a href="/main/listProduct?menu=brand">반스</a>
						<a href="/main/listProduct?menu=brand">HOKA</a>
					</div>
				</div>
				<div class="menu-item">
					<a href="/main/listProduct?menu=men&targetCustomerType=men">MEN</a>
					<div class="dropdown-content">
					
					<div class="dropdown-submenu">
						<a href="/main/listProduct?menu=men&targetCustomerType=men">스니커즈</a>
						<div class="dropdown-content right">
							<a href="/main/listProduct?menu=men&targetCustomerType=men">스니커즈</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">캔버스화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">슬립온</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">뮬</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">워크화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">기타</a>
						</div>
						</div>
						<br>
					<div class="dropdown-submenu">
						<a href="/main/listProduct?menu=men&targetCustomerType=men">스포츠</a>
						<div class="dropdown-content right">
							<a href="/main/listProduct?menu=men&targetCustomerType=men">런닝화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">축구화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">농구화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">등산화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">워킹화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">배드민턴화</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">테니스화</a>
					</div>
					</div>
					   <br>
					<div class="dropdown-submenu">
						<a href="/main/listProduct?menu=men&targetCustomerType=men">구두</a>
						<div class="dropdown-content right">
							<a href="/main/listProduct?menu=men&targetCustomerType=men">로퍼</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">레이스업</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">힐/펌프스</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">토오픈/슬링백</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">뮬/블로퍼</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">플랫</a>
						</div>
					</div>
					<br>
					<div class="dropdown-submenu">
						<a href="/main/listProduct?menu=men&targetCustomerType=men">샌들</a>
						<div class="dropdown-content right">
							<a href="/main/listProduct?menu=men&targetCustomerType=men">슬라이드</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">아쿠아슈즈</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">스포츠샌들</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">코르크샌들</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">플립플랍</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">캐주얼샌들</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">윈터샌들</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">클로그샌들</a>
						</div>
					</div>
					<br>
					<div class="dropdown-submenu">
						<a href="/main/listProduct?menu=men&targetCustomerType=men">캐주얼</a>
						<div class="dropdown-content right">
							<a href="/main/listProduct?menu=men&targetCustomerType=men">스니커즈</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">로퍼</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">레이스업</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">데크슈즈</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">워킹슈즈</a>
						</div>
					</div>
					<br>
					<div class="dropdown-submenu">
						<a href="/main/listProduct?menu=men&targetCustomerType=men">부츠</a>
						<div class="dropdown-content right">
							<a href="/main/listProduct?menu=men&targetCustomerType=men">워크부츠</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">털부츠</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">패딩부츠</a>
							<a href="/main/listProduct?menu=men&targetCustomerType=men">앵클부츠</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="menu-item">
				<a href="/main/listProduct?menu=women&targetCustomerType=women">WOMEN</a>
				<div class="dropdown-content">
				<div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=women&targetCustomerType=women">스니커즈</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">스니커즈</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">캔버스화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">슬립온</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">뮬</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">워크화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">기타</a>
                        </div>
                        </div>
                        <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=women&targetCustomerType=women">스포츠</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">런닝화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">축구화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">농구화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">등산화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">워킹화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">배드민턴화</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">테니스화</a>
                    </div>
                    </div>
                       <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=women&targetCustomerType=women">구두</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">로퍼</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">레이스업</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">힐/펌프스</a>
                            <a href=/main/listProduct?menu=women&targetCustomerType=women>토오픈/슬링백</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">뮬/블로퍼</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">플랫</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=women&targetCustomerType=women">샌들</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">슬라이드</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">아쿠아슈즈</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">스포츠샌들</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">코르크샌들</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">플립플랍</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">캐주얼샌들</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">윈터샌들</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">클로그샌들</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=women&targetCustomerType=women">캐주얼</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">스니커즈</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">로퍼</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">레이스업</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">데크슈즈</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">워킹슈즈</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=women&targetCustomerType=women">부츠</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">워크부츠</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">털부츠</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">패딩부츠</a>
                            <a href="/main/listProduct?menu=women&targetCustomerType=women">앵클부츠</a>
                        </div>
                    </div>
                </div>
            </div>
			<div class="menu-item">
				<a href="/main/listProduct?menu=kids&targetCustomerType=kids">KIDS</a>
				<div class="dropdown-content">
				<div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=kids&targetCustomerType=kids">스니커즈</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">스니커즈</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">캔버스화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">슬립온</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">뮬</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">워크화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">기타</a>
                        </div>
                        </div>
                        <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=kids&targetCustomerType=kids">스포츠</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">런닝화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">축구화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">농구화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">등산화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">워킹화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">배드민턴화</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">테니스화</a>
                    </div>
                    </div>
                       <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=kids&targetCustomerType=kids">구두</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">로퍼</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">레이스업</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">힐/펌프스</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">토오픈/슬링백</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">뮬/블로퍼</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">플랫</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=kids&targetCustomerType=kids">샌들</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">슬라이드</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">아쿠아슈즈</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">스포츠샌들</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">코르크샌들</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">플립플랍</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">캐주얼샌들</a>
                            <a href=/main/listProduct?menu=kids&targetCustomerType=kids>윈터샌들</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">클로그샌들</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=kids&targetCustomerType=kids">캐주얼</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">스니커즈</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">로퍼</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">레이스업</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">데크슈즈</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">워킹슈즈</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=kids&targetCustomerType=kids">부츠</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">워크부츠</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">털부츠</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">패딩부츠</a>
                            <a href="/main/listProduct?menu=kids&targetCustomerType=kids">앵클부츠</a>
                        </div>
                    </div>
                </div>
            </div>
			<div class="menu-item">
				<a href="/main/listProduct?menu=etc&categoriesId=7">ETC</a>
				<div class="dropdown-content">
                <div class="dropdown-submenu">
                        <a href="/main/listProduct?menu=etc&categoriesId=7">신발용품</a>
                        <div class="dropdown-content right">
                            <a href="/main/listProduct?menu=etc&categoriesId=7">양말</a>
                            <a href="/main/listProduct?menu=etc&categoriesId=7">신발끈</a>
                            <a href="/main/listProduct?menu=etc&categoriesId=7">왁스</a>
                            <a href="/main/listProduct?menu=etc&categoriesId=7">깔창</a>
                            <a href="/main/listProduct?menu=etc&categoriesId=7">청소용품</a>
                            <a href="/main/listProduct?menu=etc&categoriesId=7">기타</a>
                        </div>
                    </div>
                 </div>
              </div>
            </div>
     <br>
	</nav>
	<div class="logo">
		<a href="/main/"><img alt="로고" src="/member/images/LOGO.png"></a>
	</div>
	<div class="user-menu">
        <div class="search">
		  <input type="text" placeholder=" 찾는 신발을 검색해보세요."> 
		  <button type="submit">
		  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABgklEQVR4nO2VsUoDQRCGvyieggZB+xAUrK61tFSwiJ1CKn2BiFqopWAjgk18gJTBJmDjA9hYaBtII3qktNE0xqAoK3MwnOa82zsPwfywHBw78+3O7j8LA33VBFACKsAusA64/KIKQA14Bt6/GS2gDOTShC4Dj32AwXEBTKYBLQFvktR868AiMA2MAnPAFtBW8EvASVrejiR7ApZC5o4DDQU/SQKuqZ2GQX2NyG5NzAswawPNA11JYsobVa46mkMb8IoqmznTOLqSuGsb8KYCT8WMPZW4BxvwvgKPxYw9kjjj+djaUGBjmTiqS9y9DdhVYOPTqHKkxCbuDEu1JEFbfBpF22rBq7bgskrSEJ+GaUH18iYwbAvOAeeBVuj2Ke+OgvaAeRIqr7qR38WMT6vAsVwk/0x96Ku0zD2gmATuSKLeDy9TU3ZaVf/uksKR3mva4I3ssiuWMbd3DRj6nAUHgQWlAo/6qt0G4B4wQwYqDOD897J7WYE13MsS6quYlaf/tj4AFKGdRHqPb3wAAAAASUVORK5CYII=" alt="search--v1">
		  </button>
		 </div>
        <br>
		<a href="/main/login" class="login" title="로그인">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAcElEQVR4nO2WsQ2AMAwED0ZgNSZhEMRcrETzNBQUNE4gJpZPcuPqpH9HgaQj9NL0L1BKCigjIGIJJ2DxEhiB/dptLQSemIHjJjHQWMAiYRJQxawhBGoicC1h7DPU3x4iKymgjIAoJZT3t1xeAglfcALFJ8OPTwEH+QAAAABJRU5ErkJggg==">
		</a>
		<a href="/main/register" class="signup" title="회원가입">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA60lEQVR4nO3SvUoDURCG4UcbxVawMnVuwFuzsDI3EAvBO5BIJJBa0NqfLo1XIFr4m1hYCB4RJrBs1jXGoyDkhYGdszPfy3KWOZlooIdRVB/NnOH3SKV6iHc/plcRPq7DHIJRjWD424KnHIJ+jaCbQ9CMCy2H32FdJhpxocOobs7wOZ+yiA1s4xiXeMYLbnCC1Zhdxh4ecY2dOKtkCZu4qvk9U0gWYmcXb9hHJ57bVeFrGHwRnKK2Cnu3OCj0nfiSCY6mDE9YKex99K1C34qzCV6/IRhzUTNzpkSaQZCmnPsbwSykfy84rwk/fQff3rMK6Ki+YgAAAABJRU5ErkJggg==">
		</a>
		<a href="/mypage/mypage" class="mypage" title="마이페이지">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAAAsTAAALEwEAmpwYAAABB0lEQVR4nO3VTStEURwH4EcaiQ2xk5WJWCllNbKx56t42ctX8DLzEcjO2oKFHXspKR+BpXB160wJM/fe5j8r86tfnW6389S559zDIL9Tw0JqPu5bptHEK7LUF5xgKhqbxdM36GcfMROFDeGmC9budRS4XgJrdy0CPKgA7keArQpgKwI8rgAeRYB7FcCdCHAeHyWwd9QFpVkCPIzC8ozgvAt2lt4JzxYu8Jyajzfjmf+UGpbQSF3sxxVVx276Ob/9sWHyZ1fYxlwv0HLamZ8VDn6GS6xWgSYLjkDZnmKiCBvGXQCWpd6mOTtmJRDLUvNP0zHjeAjE7jFWtKyj6ebe6LGNNNcg+povuAzU1cbeX8YAAAAASUVORK5CYII=">
        </a>
		<a href="/mypage/cart" class="cart" title="장바구니">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAAAsTAAALEwEAmpwYAAABkklEQVR4nOXVv0tWURzH8RcRWE1ZGEgQiE4RbYLgUJlbJqEgEhQS1NjolPUPRDQkEk0RRIQtLSK1RIvSFIguIkLUlgT9IKJ64sIJHg7nnud6owfED3yHC5/PeZ/D93vuYTeoH9dwFafaAZxEo6lm/zewM5ywqBX8xGFt0s1wytF2Ac8E4Du8xnM8xF3cwnVcwggGcRzd2FcXeAA/op5WrW94H9oSb7Y4SKmWawJzdTEHvJ0J3sdpjOMNHmMY5/AqkzuZA14oCT2KfHuj7/1YT+SKFnXkgF34nQhOaK25RK7oaUutJYLTFXILidyTKsAHiWAxgQczmQH8SuRuVAFOlfRxsaQfx8LdbSSqmImW6stM3EscavIWE7iZ8feqqA+ZRTbCK3MZXzO+L9hTFfi0xWVOTXIjqiXb0Nl/+M01woau2KaOBvBwjeq1EzSAVWxhpsJLM4/PeIEjdYCrUV+KySzTdOS9Vwf4MVrkfMZ7J/I+qwOcaVrgbXgRynQCn4L3O4bUVH84WQ72V90YQ09d2M7XH83b5Bni+0MnAAAAAElFTkSuQmCC" alt="favorite-cart">
        </a>
	</div>
	</div>
</header>

