<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>결제 완료</title>
  <link rel="stylesheet" th:href="@{/member/css/shoebox.css}">
<link rel="stylesheet" th:href="@{/member/css/shoebox_2.css}">
  <style>  
  </style>
</head>
<body>
<th:block th:replace="~{inc/header.html :: header}"></th:block>
<br><br>
  <div class="complete-wrap">
    <div class="complete-title">결제 완료</div>
    <div class="complete-icon">
      <!-- 체크 아이콘 SVG -->
      <!-- <svg viewBox="0 0 24 24" fill="none">
        <path d="M6 12.5L10.2 17L18 8.5" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg> -->
      <img src="/member/images/check.png" width="90px" height="90px">
    </div>
    <div class="complete-desc">
      결제가 정상적으로 처리되었습니다.
    </div>
    <div class="complete-buttons">
      <button class="complete-btn" onclick="window.location.href='/main/'">메인화면 가기</button>
      <button class="complete-btn" onclick="window.location.href='/mypage/mypage'" style="background: #222">마이페이지</button>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>
  <th:block th:replace="~{inc/footer.html :: footer}"></th:block>
</body>
</html>

