<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/admin_layout}">
<head>
</head>
<body>

	<!-- 실제로 삽입되는 부분 -->
	<section layout:fragment="content" th:fragment="content">
		<!-- 페이지 전용 CSS -->
		<link rel="stylesheet" th:href="@{/admin/css/category.css}" />
		<div class="admin-container" style="margin-top: var(--header-height);">
			<div class="page-header">
				<h2>카테고리 관리</h2>
				<button class="category_btn" name="category_btn">카테고리 추가</button>
			</div>
		</div>
		 <ul class="brand-category-list">
        <li>
            <span class="brand-name">나이키</span>
            <button type="button">수정</button>
            <button type="button">삭제</button>
        </li>
        <li>
            <span class="brand-name">아디다스</span>
            <button type="button">수정</button>
            <button type="button">삭제</button>
        </li>
        <li>
            <span class="brand-name">뉴발란스</span>
            <button type="button">수정</button>
            <button type="button">삭제</button>
        </li>
        <li>
            <span class="brand-name">컨버스</span>
            <button type="button">수정</button>
            <button type="button">삭제</button>
        </li>
        <!-- 필요에 따라 브랜드 추가 -->
    </ul>
			
			
			
			
		<div class="admin-container" style="margin-top: var(--header-height);">	
		<div class="page-header">
                <h2>신발 종류 카테고리 관리</h2>
                <button class="category_btn" name="puccategory_btn">신발 카테고리 추가</button>
            </div>
		</div>

		<!-- 페이지 전용 JS -->
		<script th:src="@{/admin/js/page-specific.js}"></script>
	</section>

</body>
</html>
